[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
jupyter-contrib-nbextensions = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
progressbar = "*"
scikit-learn = "*"

[dev-packages]
pylint = "*"
bandit = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
